@media (min-width: 1920px) {
    .attraction::before {
        width: 100%;
        height: 19vw;
    }
    .intro-block::after {
        width: 100%;
        height: 19vw;
    }
    .infrastructure {
        background-position: center 40%;
    }
    .infrastructure::before {
        width: 100%;
        height: 19vw;
    }
    .complex {
        height: 1100px;
    }
    .complex::before {
        width: 100%;
        height: 17vw;
    }
    .review::before {
        width: 100%;
        height: 19vw;
    }
    .payment::before {
        width: 100%;
        height: 17vw;
    }
}

@media (max-width: 1800px) {
   .presentation__tree {
        display: block;
        width: 200px;
   }
}

@media (max-width: 1700px) {
    .deal .parallax-item:nth-child(1) img {
        display: block;
        width: 250px;
    }

    .map-block__palm {
        display: block;
        width: 421px;
        right: 0;
    }

    .presentation__tree {
        left: -40px;
    }
}

@media (max-width: 1500px) {
    .map-block__palm {
        width: 380px;
    }

    .presentation__tree {
        top: -135px;
    }

    .payment .main-form {
        margin-right: 0;
    }

    .payment__info {
        margin-left: 0;
    }

    .girl {
        display: block;
        width: 360px;
        left: 50%;
    }

    .deal .parallax-item:nth-child(1) img {
        width: 200px;
    }

    .deal .parallax-item:nth-child(2) img {
        display: block;
        width: 150px;
    }

    .presentation .parallax-item:nth-child(2) {
        left: 0 !important;
    }

    .payment .parallax-item:nth-child(1) img {
        display: block;
        width: 400px;
    }

    .payment .parallax-item:nth-child(1) {
        top: 685px !important;
        left: 20px !important;
    }

    .main-form {
        margin-right: 0;
    }

    .presentation__content {
        margin-right: 30px;
    }


}

@media (max-width: 1300px) {
    .map-block__palm {
        width: 315px;
        top: 120px;
        right: -60px;
    }

    .review .parallax-item:nth-child(1) img {
        display: block;
        width: 400px;
    }

    .review .parallax-item:nth-child(1) {
        left: 36% !important;
    }

    .presentation .parallax-item:nth-child(2) img {
        display: block;
        width: 1300px;
    }

    .infrastructure .container {
        padding-top: 150px;
    }

    .infrastructure .parallax-item:nth-child(1) {
        top: 180px !important;
    }

    .presentation__tree {
        width: 170px;
    }

    .attraction .parallax-item:nth-child(1) {
        left: 0 !important;
    }

    .attraction .parallax-item:nth-child(2) {
        left: 130px !important;
    }

    .map-block .container {
        padding-top: 80px;
    }

    .complex__item:nth-child(4) {
        right: 20px;
    }

}

@media (max-width: 1200px) {
    .presentation__tree {
        display: none;
    }

    .intro__title-content h1 {
        margin-left: 20px;
    }

    .intro__title-content h1 {
        font-size: 40px;
    }

    .intro__title-content h1 span {
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-title h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .main-form__title {
        font-size: 26px;
        line-height: 30px;
    }

    .infrastructure__content {
        padding-left: 0;
    }

    .review .parallax-item:nth-child(1) img {
        width: 300px;
    }

    .review .parallax-item:nth-child(1) {
        left: 38%;
    }

    .deal .main-form {
        margin-left: 0;
        margin-right: 0;
    }

    .deal__list {
        justify-content: space-between;
        margin-left: 0;
        margin: 0 auto;
    }

    .review__content {
        margin-left: 0;
    }
    
    .attraction__item:nth-child(5) {
        top: -130px;
        right: -28px;
        max-width: 180px;
        background-color: #fff;
    }

    .header__list {
        margin-left: 0;
    }

    .header__tel-content {
        margin-left: 30px;
    }

    .header__logo {
        margin-right: 15px;
    }

    .header__item img {
        display: block;
        width: 50px;
    }

    .header__list {
        max-width: 512px;
        align-items: center;
    }

    .header__logo {
        min-width: 80px;
        max-width: 80px;
    }

    .header__content .header__item {
        top: 0;
    }

    .intro__mark {
        margin-right: 0;
    }

    .reputation__item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .map-block__content {
        left: 80px;
    }

    .infrastructure__list {
        padding-left: 0;
    }

    .fancybox-slide--html .fancybox-close-small {
        right: 10px;
        top: 10px;
    }

    #popup-3 .popup__image-wrap::before {
        height: 633px;
    }

    .fancybox-slide--html .fancybox-close-small {
        color: #000;
    }

}

@media (max-width: 1100px) {
    .payment .parallax-item:nth-child(1) img {
        width: 350px;
    }

    .payment .parallax-item:nth-child(1) {
        top: 702px !important;
    }

    .payment__info img {
        display: block;
        width: 100px;
    }

    .payment__info {
        max-width: 390px;
        padding-top: 30px;
    }

    .deal .parallax-item:nth-child(1) img {
        width: 150px;
    }

    .deal .parallax-item:nth-child(2) img {
        width: 115px;
    }

    .girl {
        width: 320px;
        left: 47%;
    }

    .reputation .parallax-item:nth-child(1) {
        right: 60px !important;
    }

    .review .parallax-item:nth-child(2) {
        left: 60% !important;
    }

    .review__content ul {
        margin-left: 0;
    }

    .review__content li {
        max-width: 255px;
    }

    .review__content {
        margin-right: 30px;
    }

    .attraction__list {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .attraction__item {
        width: 33%;
        max-width: 100%;
    }

    .attraction__item:nth-child(1) {
        margin-right: 0;
    }

    .attraction__item:nth-child(2) {
        margin-right: 0;
        padding-top: 0;
    }

    .attraction__item:nth-child(3) {
        margin-right: 0;
        padding-top: 0;
    } 

    .attraction__item:nth-child(4) {
        margin-right: 0;
        padding-top: 0;
    } 

    .attraction__item:nth-child(5) {
        position: static;
        background-color: transparent;
    }

    .attraction__road-line {
        display: none;
    }

    .attraction__item span {
        display: none;
    }

    .attraction__item .attraction__metres-mobile {
        display: block;
        position: static !important;
    }

    .attraction__item-panel {
        position: absolute;
        top: 40px;
        right: -15%;
    }

    .attraction__item-panel img {
        border-radius: 0;
        margin: 0;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .attraction__divider {
        width: 93px;
        border-bottom: 3px dotted #3e90d8;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .attraction__item-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .attraction__item br {
        display: none;
    }

    .attraction__item {
        padding-bottom: 20px;
    }

    .attraction__item:nth-child(5) {
        max-width: none;
        width: 33%;
        order: 4;
    }

    .attraction__item:nth-child(3) .attraction__item-panel {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .attraction__item:nth-child(3) .attraction__divider {
        border-right: 3px dotted #3e90d8;
        border-bottom: none;
        width: 3px;
        height: 93px;
        margin: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .attraction__item:nth-child(3) .attraction__item-icons {
        flex-direction: column;
        align-items: center;
    }

    .attraction__item:nth-child(3) .attraction__item-icons img {
        margin: 0;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .attraction__item:nth-child(4) {
        order: 5;
    }

    .attraction__item:nth-child(4) .attraction__item-panel {
        right: auto;
        left: -93%;
    }

    .attraction__item:nth-child(4) .attraction__divider {
        width: 273px;
    }

    .attraction__list {
        padding-top: 80px;
    }

    .header__content {
        max-width: 310px;
    }

    .header__list {
        margin-right: -30px;
    }

    .intro .container {
        padding-top: 210px;
    }

    .intro .container {
        padding-top: 170px;
    }

    .opportunity__list {
        margin: 0;
    }

    .infrastructure__item {
        margin-right: 20px;
        padding: 15px 20px 35px 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .header__tel {
        font-size: 16px;
    }
}
