@media (max-width: 1023px) {
    .intro-block .parallax-item:nth-child(1) {
        display: none;
    }

    .intro-block .parallax-wrap {
        display: none;
    }


    .header__list {
        display: none;
    }

    .intro__description {
        padding-top: 160px;
    }

    .intro .container {
        padding-top: 150px;
    }

    .opportunity .parallax-item:nth-child(1) img {
        position: absolute;
        top: 150px;
        left: 48px;
    }

    .opportunity .parallax-item:nth-child(2) img {
        position: absolute;
        top: 130px;
        left: 43%;
    }

    .opportunity .parallax-item:nth-child(3) img {
        position: absolute;
        top: 70px;
        left: auto;
        right: 40px;
    }

    .presentation .container {
        padding-top: 115px;
    }

    .presentation .parallax-item:nth-child(1) {
        display: none;
    }

    .intro__title-content h1 {
        font-size: 36px;
        line-height: 54px;
    }

    .main-title h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .presentation .parallax-item:nth-child(2) img {
        position: absolute;
        top: 100px;
    }

    .infrastructure .parallax-item:nth-child(1) {
        display: none;
    }

    .infrastructure .container {
        padding-top: 105px;
    }

    .main-title p {
        font-size: 18px;
    }

    .attraction .container {
        padding-bottom: 180px;
    }

    .materials__item-text {
        padding-left: 15px;
        padding-right: 15px;
    }

    .materials .container {
        padding-top: 80px;
    }

    .materials .main-title {
        padding-bottom: 60px;
    }

    .standarts .container {
        padding-bottom: 140px;
    }

    .review .parallax-item:nth-child(1) img {
        position: absolute;
        top: -70px;
        width: 280px;
        left: 32%;
    }

    .review .parallax-item:nth-child(2) {
        display: none;
    }

    .review .container {
        padding-bottom: 255px;
    }

    .deal .parallax-wrap {
        display: none;
    }

    .reputation .container {
        padding-bottom: 65px;
    }

    .payment::before {
        width: 100%;
    }

    .payment .parallax-wrap {
        display: none;
    }

    .payment .container {
        padding-top: 90px;
    }

    .standarts .parallax-item:nth-child(1) img {
        position: absolute;
        top: 230px;
        left: 160px;
    }

    .standarts .parallax-item:nth-child(2) img {
        position: absolute;
        top: 170px;
        left: 250px;
    }

    .standarts .parallax-item:nth-child(3) img {
        position: absolute;
        top: 200px;
        left: 44%;
    }

    .standarts .parallax-item:nth-child(4) img {
        position: absolute;
        top: 260px;
        right: 130px;
    }

    .standarts .parallax-item:nth-child(5) img {
        position: absolute;
        top: 200px;
        right: 180px;
    }

    .standarts .parallax-item:nth-child(6) img {
        position: absolute;
        top: 540px;
        left: 170px;
    }

    .standarts .parallax-item:nth-child(7) img {
        position: absolute;
        top: 560px;
        left: 44%;
    }

    .standarts .parallax-item:nth-child(8) img {
        position: absolute;
        top: 540px;
        left: 48.5%;
    }

    .standarts .parallax-item:nth-child(9) img {
        position: absolute;
        top: 540px;
        right: 100px;
    }

    .review__content ul {
        flex-direction: column;
        align-items: center;
    }

    .review__content li {
        max-width: 410px;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer__info {
        max-width: none;
        margin-bottom: 40px;
    }

    .footer__contacts {
        margin-left: 0;
    }

    .footer .container {
        padding-bottom: 30px;
    }

    .infrastructure__info {
        margin-right: 0;
    }

    .standarts__list {
        padding-top: 40px;
    }

    .thanks-page .main-title__description {
        padding-left: 0;
    }

    .footer__contacts {
        justify-content: center;
    }

}

@media (max-width: 923px) {
    .main-form {
        max-width: 350px;
    }

    .main-form__wrapper {
        padding-left: 26px;
        padding-right: 26px;
    }

    .infrastructure__item {
        max-width: 270px;
    }

    .complex__item:nth-child(4) {
        right: 10px;
        top: 375px;
    }

    .deal__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .deal .main-form {
        order: 3;
        margin-top: 50px;
    }

    .deal__item {
        max-width: none;
        width: 48%;
    }

    .payment .container {
        padding-top: 60px;
    }

    .payment__info {
        flex-direction: column;
    }

    .payment__content {
        margin-right: 30px;
    }

    .girl {
        width: 275px;
        left: 45%;
    }

    .map-block__content {
        left: 15px;
        max-width: 250px;
    }

    .map-block__content-wrap {
        padding: 25px;
    }

    .review__content ul {
        padding-top: 25px;
    }

    .complex__item:nth-child(5) {
        right: 50px;
    }

    .complex__item:nth-child(6) {
        left: 300px;
    }

    .complex__item p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .standarts__item {
        width: 30%;
    }

    .attraction__divider {
        width: 81px;
    }

    .attraction__item-panel {
        right: -17%;
    }

    .attraction__item:nth-child(4) .attraction__item-panel {
        left: -104%;
    }

    .opportunity__item {
        max-width: 230px;
    }

    .mark {
        background-size: contain;
        width: 123px;
        height: 128px;
        padding-left: 25px;
    }

    .mark span {
        font-size: 13px;
    }

    .mark p {
        font-size: 22px;
    }

    .intro__title-content h1 span {
        padding-left: 15px;
        padding-right: 15px;
    }

    .attraction__transports {
        margin: 0 auto;
    }

    .popup-big.main-form {
        max-width: 1007px;
    }
}

@media (max-width: 823px) {
    .intro .container {
        padding-top: 115px;
    }

    .opportunity__item {
        max-width: 208px;
    }

    .presentation .container {
        flex-direction: column;
        align-items: center;
    }

    .main-title h2 {
        text-align: center;
    }

    .presentation .main-title {
        margin: 0 auto;
    }

    .presentation__content {
        margin-right: 0;
    }

    .intro__content {
        flex-direction: column;
        align-items: center;
    }

    .intro .btn-main {
        display: block;
        margin: 0 auto;
    }

    .mark {
        margin-top: 150px;
        width: 151px;
        height: 157px;
        padding-left: 35px;
        background-size: cover;
    }

    .mark span {
        font-size: 15px;
    }

    .mark p {
        font-size: 24px;
    }

    .intro__description {
        padding-top: 85px;
    }

    .presentation .parallax-item:nth-child(2) img {
        width: 1150px;
    }

    .presentation__mark .mark {
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .infrastructure__content {
        padding-top: 0;
    }

    .infrastructure__content-wrap {
        flex-direction: column;
        align-items: center;
    }

    .infrastructure .main-title {
        margin: 0 auto;
    }

    .infrastructure .main-title {
        position: relative;
    }

    .main-title__description {
        position: absolute;
        width: 100%;
        left: 50%;
        top: -43px;
        transform: translate(-50%, 0);
    }

    .infrastructure .container {
        padding-top: 135px;
    }

    .infrastructure .main-title p {
        text-align: center;
        padding-top: 10px;
    }

    .infrastructure__list {
        justify-content: center;
    }

    .infrastructure__info p {
        text-align: center;
    }

    .infrastructure__info {
        margin: 0 auto;
        margin-top: 30px;
    }

    .infrastructure__info--mobile {
        margin: 0 auto;
        margin-top: 60px;
        
    }

    .infrastructure::before {
        left: -120px;
    }

    .attraction .parallax-wrap {
        display: none;
    }

    .attraction .main-title {
        margin: 0 auto;
    }

    .attraction img.attraction__main-img {
        display: block;
        width: 100px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .attraction__item-panel {
        top: 15px;
    }

    .attraction__item-panel {
        right: -35%;
    }

    .attraction__item {
        width: 28%;
    }

    .attraction__item:nth-child(3) .attraction__divider {
        height: 81px;
    }

    .attraction__item:nth-child(4) .attraction__item-panel {
        left: -146%;
    }

    .complex {
        height: 645px;
    }

    .complex__item:nth-child(3) {
        left: 30px;
        top: 190px;
    }

    .complex__item-title {
        font-size: 16px;
    }

    .complex__item:nth-child(2) {
        top: 101px;
        left: 32%;
    } 

    .complex__item:nth-child(1) {
        right: 70px;
        top: 77px;
    }

    .complex__item:nth-child(6) {
        left: 215px;
        top: 302px;
    }

    .complex__item:nth-child(4) {
        top: 213px;
    }

    .complex__item:nth-child(5) {
        top: 360px;
    }

    .materials__list {
        flex-wrap: wrap;
    }

    .materials__item {
        width: 40%;
        padding-bottom: 40px;
    }

    .materials__item-text {
        position: static;
        opacity: 1;
        box-shadow: none;
        padding-bottom: 50px;
        margin-top: 10px;
    }

    .materials__item-container strong{
        border-bottom: none;
    }

    .materials__item-container:hover strong {
        border-bottom: none;
        color: #000;
    }

    .review .container {
        flex-direction: column;
        align-items: center;
    }

    .review .main-title {
        margin: 0 auto;
    }

    .review__content {
        margin-right: 0;
    }

    .main-title p {
        text-align: center;
    }

    .review__content ul {
        padding-top: 40px;
    }

    .main-form__title {
        text-align: center;
    }

    .main-form__subtitle {
        text-align: center;
    }

    .reputation .parallax-wrap {
        display: none;
    }

    .reputation__list {
        flex-direction: column;
        align-items: center;
    }

    .reputation__item {
        margin-bottom: 40px;
        margin-right: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .payment .container {
        flex-direction: column;
        align-items: center;
    }

    .payment__content {
        position: absolute;
        top: -120px;
        margin-right: 0;
    }

    .deal .container {
        padding-bottom: 220px;
    }

    .payment {
        overflow: initial;
    }

    .payment__info {
        display: none;
    }

    .payment .main-form {
        margin-top: 480px;
    }

    .payment .container {
        padding-bottom: 0;
    }

    .girl {
        left: 50%;
        transform: translate(-50%, 0);
        top: 210px;
        width: 290px;
    }

    .payment {
        background-image: none !important;
    }

    .payment::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../img/paymant-bg.jpg');
        width: 100%;
        height: 640px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
    }

    .payment::before {
        z-index: 1;
    }

    .review .parallax-item:nth-child(1) img {
        left: 50%;
        transform: translate(-50%, 0);
        top: -105px;
    }

    .intro__title-content h1 {
        margin-left: 0;
        align-items: center;
    }

    .intro .container {
        padding-top: 65px;
    }

    .map-block__palm {
        display: none;
    }

    .payment__content {
        padding-left: 15px;
        padding-right: 15px;
    } 

    .main-form input {
        padding-left: 32px;
        padding-right: 32px;
    }

    .popup.main-form .main-form__title {
        text-align: left;
    }

    .popup.main-form .main-form__subtitle {
        text-align: left;
    }

    .popup__main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .popup-big.main-form input {
        max-width: none;
    }

    .popup-big .btn-main {
        max-width: none;
    }

    .thanks-page__content {
        margin: 0 auto;
    }

    .main-form label.error {
        padding-left: 32px;
    }

}

@media (max-width: 723px) {
    .title-up::before {
        background-color: transparent;
        transform: skew(0deg);
    }

    .title-down::before {
        background-color: transparent;
        transform: skew(0deg);
    }

    .intro__description {
        display: none;
    }

    .intro__title-description {
        display: block;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        padding-bottom: 68px;
    }

    .intro__title-content h1 {
        padding-bottom: 5px;
        display: block;
        text-align: center;
        max-width: 590px;
        width: 100%;
        margin: 0 auto;
    }

    .intro-block::after {
        display: none;
    }

    // .intro-block::after {
    //     background-image: none;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(255,255,255,0.3);
    // }

    .intro .container {
        padding-bottom: 128px;
    }

    .intro__title-content h1 span {
        padding-right: 0;
        padding-left: 0;
        display: inline;
        text-align: center;
    }

    .opportunity__list {
        flex-direction: column;
        align-items: center;
    }

    .opportunity__item {
        max-width: 260px;
        padding-bottom: 62px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .opportunity .parallax-item:nth-child(1) img {
        left: 34%;
    }

    .opportunity .parallax-item:nth-child(2) img {
        top: 489px;
        left: 37%;
    } 

    .opportunity .parallax-item:nth-child(3) img {
        top: 820px;
        right: auto;
        left: 59%;
    } 

    .presentation .parallax-item:nth-child(2) img {
        left: -50px;
    }

    .main-form__title {
        font-size: 28px;
        line-height: 32px;
    }

    .main-form__wrapper {
        padding-top: 38px;
    }

    .attraction__list {
        flex-direction: column;
        align-items: center;
    }

    .attraction img.attraction__main-img {
        width: 160px;
    }

    .attraction__item-panel {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .attraction__divider {
        border-right: 3px dotted #3e90d8;
        border-bottom: none;
        width: 3px;
        height: 93px;
        margin: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .attraction__item-icons {
        flex-direction: column;
        align-items: center;
    }

    .attraction__item-icons img {
        margin: 0;
        margin-bottom: 10px;
    }

    .attraction__item:nth-child(5) {
        order: 5;
    }

    .attraction__item:nth-child(4) .attraction__divider {
        width: 3px;
    }

    .attraction__item:nth-child(3) .attraction__divider {
        height: 93px;
    }

    .attraction::before {
        left: -250px;
    }

    .attraction {
        background-size: inherit;
        background-position: bottom;
    }

    .attraction .container {
        padding-top: 25px;
    }

    .standarts__list {
        flex-direction: column;
        align-items: center;
    }

    .standarts__item {
        max-width: 250px;
        width: 100%;
    }

    .standarts .parallax-item:nth-child(1) img {
        top: 208px;
        left: 40%;
    }

    .standarts .parallax-item:nth-child(2) img {
        top: 140px;
        left: 56%;
    }

    .standarts .parallax-item:nth-child(3) img {
        top: 500px;
        left: 40%;
    }

    .standarts .parallax-item:nth-child(4) img {
        top: 880px;
        left: 52%;
    }

    .standarts .parallax-item:nth-child(5) img {
        top: 820px;
        left: 48%;
    }

    .standarts .parallax-item:nth-child(6) img {
        top: 1244px;
        left: 44%;
    }

    .standarts .parallax-item:nth-child(7) img {
        top: 1631px;
        left: 38%;
    }

    .standarts .parallax-item:nth-child(8) img {
        top: 1597px;
        left: 47%;
    }

    .standarts .parallax-item:nth-child(9) img {
        top: 1918px;
        left: 58%;
    }

    .review::before {
        left: -140px;
    }

    .review .container {
        padding-bottom: 160px;
    }

    .review {
        background-size: initial;
        background-position: bottom;
    }

    .deal__list {
        flex-direction: column;
        align-items: center;
    }

    .deal__item:nth-child(3) {
        padding-top: 55px;
    }

    .map-block__content {
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 285px;
        top: auto;
        bottom: -160px;
    }

    .map-block__content-wrap {
        padding-left: 42px;
        padding-top: 44px;
        padding-bottom: 47px;
        padding-right: 42px;
    }

    .map-block {
        z-index: 2;
    }

    .footer {
        position: relative;
        z-index: 1;
    }

    .map-block__wrap {
        overflow: inherit;
    }

    .map-block .container {
        padding-bottom: 210px;
    }

    .footer__info {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo-content {
        margin-bottom: 30px;
    }

    .attraction__item {
        max-width: 192px;
        width: 100%;
    }

    .attraction__item:nth-child(5) {
        max-width: 192px;
        width: 100%;
    }

    .deal__item:nth-child(1) {
        padding-top: 12px;
    }

    .standarts .parallax-wrap {
        display: none;
    }

    #popup-3 .popup__image-wrap::before {
        display: none;
    }

    .popup__image-wrap {
        display: none;
    }

    .popup-big.main-form {
        max-width: 350px;
    }

    .title-down::before {
        display: none;
    }

    .title-up::before {
        display: none;
    }

}

@media (max-width: 623px) {
    .header__content .header__item {
        display: none;
    }

    .intro__title-content h1 {
        font-size: 24px;
        line-height: 34px;
    }

    .mark {
        margin-top: 208px;
    }

    .presentation .parallax-item:nth-child(2) img {
        width: 1000px;
        top: 220px;
    }

    .main-title h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .attraction__transports {
        flex-direction: column;
        align-items: center;
    }

    .attraction__tranport-item {
        margin-bottom: 13px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .attraction__tranport-item p {
        min-width: 87px;
    }

    .attraction__tranport-wrap {
        min-width: 27px;
        margin-right: 10px;
        text-align: center;
    }

    .attraction__tranport-item img {
        margin-right: 0;
    }

    .attraction__list {
        padding-top: 50px;
    }

    .materials__item {
        width: 45%;
    }

    .deal__item-text {
        padding-left: 0;
    }

    .deal__item:nth-child(3) .deal__item-text {
        padding-left: 0;
    }

    .header__content {
        max-width: 100px;
    }

    .main-title p {
        line-height: 28px;
    }

    .review__content ul {
        padding-top: 36px;
    }

    .standarts__image {
        min-height: 0;
    }

    .standarts__item {
        padding-bottom: 60px;
    }
    
    .intro-block::after {
        display: block;
        background-image: url("../img/intro-sky-block.png");
        width: 775px;
        height: 772px;
        top: -100px;
    }

    .complex__item p {
       padding: 10px;
    }

    .complex {
        height: 500px;
    }

    .complex__item:nth-child(4) {
        top: 165px;
    }

    .complex__item:nth-child(5) {
        top: 275px;
    }

    .complex__item:nth-child(6) {
        top: 249px;
        left: 170px;
    }

    .complex::before {
        left: -135px;
    }

    .complex__item:nth-child(3) {
        top: 145px;
    }

    .thanks-page .container {
        padding-top: 80px;
    }

    .thanks-page__subtitle {
        text-align: center;
    }

    .thanks-page__info-content {
        text-align: center;
    }
}

@media (max-width: 523px) {
    .presentation .parallax-item:nth-child(2) img {
        left: -115px;
    }

    .infrastructure__list {
        flex-direction: column;
        align-items: center;
    }

    .infrastructure__item {
        margin-right: 0;
        margin-bottom: 20px;
        min-height: 446px;
        max-width: 282px;
        padding-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .materials__list {
        flex-direction: column;
        align-items: center;
    }

    .materials__item {
        width: 100%;
        max-width: 280px;
    }

    .materials__img img {
        width: 180px;
        margin: 0 auto;
    }

    .materials__item-text p {
        font-size: 13px;
        line-height: 22px;
    }

    .deal__item {
        width: 100%;
        max-width: 210px;
    }

    .deal__image {
        margin-left: -35px;
    }

    .reputation__item a {
        margin-top: 55px;
    }

    .materials__item:last-child .materials__item-text {
        padding-bottom: 15px;
    }

    .standarts .container {
        margin-top: 50px;
    }

    .standarts .parallax-item:nth-child(1) img {
        top: 278px;
        left: 34%;
    }

    .standarts .parallax-item:nth-child(2) img {
        top: 220px;
        left: 60%;
    }

    .standarts .parallax-item:nth-child(3) img {
        top: 570px;
        left: 36%;
    }

    .standarts .parallax-item:nth-child(4) img {
        top: 960px;
        left: 52%;
    }

    .standarts .parallax-item:nth-child(5) img {
        top: 880px;
        left: 48%;
    }

    .standarts .parallax-item:nth-child(6) img {
        top: 1150px;
        left: 44%;
    }

    .standarts .parallax-item:nth-child(7) img {
        top: 1540px;
        left: 30%;
    }

    .standarts .parallax-item:nth-child(8) img {
        top: 1517px;
        left: 47%;
    }

    .standarts .parallax-item:nth-child(9) img {
        top: 1870px;
        left: 60%;
    }

    .standarts .parallax-wrap {
        display: block;
    }

    .standarts .main-title {
        max-width: 280px;
    }

    .standarts .container {
        padding-bottom: 115px;
    }

    .intro-block::after {
        top: -180px;
    }

    .complex {
        height: 500px;
    } 

    .complex {
        height: 360px;
    }

    .complex__item-title {
        font-size: 13px;
    }

    .complex__item:nth-child(2) {
        top: 60px;
    }

    .complex__item:nth-child(3) {
        top: 109px;
    }

    .complex__item:nth-child(6) {
        top: 170px;
        left: 124px;
    }

    .complex__item:nth-child(4) {
        top: 127px;
    }

    .complex__item:nth-child(5) {
        top: 210px;
    }

    .complex__item:nth-child(1) {
        right: 48px;
        top: 65px;
    }
}

@media (max-width: 423px) {
    .footer__text {
        display: none;
    }

    .footer__logo {
        margin-right: 0;
    }

    .footer__contacts-content {
        display: none;
    }

    .footer__contacts {
        justify-content: center;
    }

    .footer__social {
        width: 45px;
        height: 45px;
    }

    .footer__social img {
        width: 22px;
    }

    .footer__social.facebook img {
        width: 10px;
    }

    .footer__social.instagram img {
        width: 19px;
    }

    .footer {
        padding-bottom: 30px;
    }

    .footer .container {
        position: relative;
        // padding-bottom: 105px;
    }

    // .footer__menu {
    //     position: absolute;
    //     left: 50%;
    //     transform: translate(-50%, 0);
    //     bottom: 0;
    //     width: 90%;
    //     text-align: center;
    // }

    .footer__menu {
        text-align: center;
    }

    .footer__info {
        margin-bottom: 10px;
    }

    .review::before {
        left: -260px;
    }

    .review__content li {
        max-width: 277px;
    }

    .review .parallax-item:nth-child(1) img {
        left: 76px;
        top: -120px;
        pointer-events: none;
    }

    .materials__img img {
        width: 130px;
    }

    .header__tel-content {
        display: none;
    }

    .header .container {
        justify-content: center;
    }

    .header__logo {
        margin-right: 0;
    }

    .header__content {
        max-width: none;
        justify-content: center;
    }

    .intro .container {
        padding-top: 35px;
    }

    .presentation .parallax-item:nth-child(2) img {
        left: -218px;
    }

    .infrastructure__info {
        display: none;
    }

    .infrastructure__info--mobile {
        display: block;
        padding-bottom: 70px;
    }

    .infrastructure .container {
        position: relative;
        z-index: 2;
    }

    .infrastructure {
        background-image: none !important;
    }

    .infrastructure::after {
        content: "";
        position: absolute;
        background-image: url("../img/infrastructure-bg.jpg");
        height: 600px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .infrastructure__list {
        padding-top: 55px;
    }

    .infrastructure::before {
        left: -276px;
    }

    .main-form__wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-form__checkbox {
        padding-left: 0;
    }

    .reputation .container {
        padding-top: 0;
    }

    // .complex__item:nth-child(1) {
    //     right: 24px;
    //     top: 44px;
    // }

    .complex__item:nth-child(3) {
        top: 90px;
        left: 12px;
    }


}

@media (max-width: 350px) {
    .presentation__mark .mark {
        margin-left: 50px;
    }

    .presentation .parallax-item:nth-child(2) img {
        left: -279px;
    }

    .presentation .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .infrastructure__info--mobile {
        padding-bottom: 40px;
    }

    .review .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .deal .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .girl {
        top: 178px;
    }

    .payment .container {
        padding-left: 10px;
        padding-right: 10px;
    }


    .standarts .container {
        padding-bottom: 165px;
    }

    .complex .main-title {
        top: -140px;
    }

    .complex__item p {
        padding: 5px;
    }

    .complex__item:nth-child(4) {
        right: 5px;
    }
}