.parallax-wrap {
  position: absolute !important;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  top: 0;
}

.intro-block .parallax-item:nth-child(1) {
	top: -250px !important;
	left: -300px !important;
}

.intro-block .parallax-item:nth-child(2) {
	top: 100px !important;
	left: auto !important;
	right: -30px !important;
}

.intro-block .parallax-item:nth-child(3) {
	top: 160px !important;
	left: 40% !important;
}

.opportunity .parallax-item:nth-child(1) {
	top: 150px !important;
	left: 120px !important;
}

.opportunity .parallax-item:nth-child(2) {
	top: 130px !important;
	left: 44% !important;
}

.opportunity .parallax-item:nth-child(3) {
	top: 70px !important;
	left: auto !important;
	right: 130px !important;
}

.presentation .parallax-item:nth-child(1) {
	top: 50px !important;
	left: 41% !important;
}

.presentation .parallax-wrap {
	z-index: 0;
}

.presentation .parallax-item:nth-child(2) {
	top: 260px !important;
	left: 155px !important;
}

.infrastructure .parallax-item:nth-child(1) {
	top: 310px !important;
	left: 40% !important;
}

.attraction .parallax-item:nth-child(1) {
	top: 10px !important;
	left: -40px !important;
}

.attraction .parallax-item:nth-child(2) {
	top: 0px !important;
	left: 100px !important;
}

.standarts .parallax-item:nth-child(1) {
	top: 230px !important;
	left: 160px !important;
}

.standarts .parallax-item:nth-child(2) {
	top: 170px !important;
	left: 250px !important;
}

.standarts .parallax-item:nth-child(3) {
	top: 200px !important;
	left: 44% !important;
}

.standarts .parallax-item:nth-child(4) {
	top: 260px !important;
	left: auto !important;
	right: 130px !important;
}

.standarts .parallax-item:nth-child(5) {
	top: 200px !important;
	left: auto !important;
	right: 180px !important;
}

.standarts .parallax-item:nth-child(6) {
	top: 540px !important;
	left: 170px !important;
}

.standarts .parallax-item:nth-child(7) {
	top: 560px !important;
	left: 44% !important;
}

.standarts .parallax-item:nth-child(8) {
	top: 540px !important;
	left: 48.5% !important;
}

.standarts .parallax-item:nth-child(9) {
	top: 540px !important;
	left: auto !important;
	right: 100px !important;
}

.review .parallax-item:nth-child(1) {
	top: -70px !important;
	left: 33% !important;
}

.review .parallax-item:nth-child(2) {
	top: 900px !important;
	left: 40% !important;
}

.reputation .parallax-item:nth-child(1) {
	width: 75px;
	margin-left: auto;
	top: 120px !important;
	left: auto !important;
	right: 130px !important;
}

.deal .parallax-item:nth-child(1) {
	top: -120px !important;
	left: -30px !important;
}

.deal .parallax-item:nth-child(2) {
	top: 120px !important;
	left: auto !important;
	right: -40px !important;
}

.payment .parallax-item:nth-child(1) {
	top: 650px !important;
	left: 150px !important;
}