@import "normalize";
@import "variables";
@import "parallax";
@import "fancybox";


@font-face {
    font-family: 'Arkhip';
    src: url('../fonts/subset-Arkhip.eot');
    src: local('subset-Arkhip'), local('subset-Arkhip'), url('../fonts/subset-Arkhip.woff') format('woff'), url('../fonts/subset-Arkhip.ttf') format('truetype'), url('subset-Arkhip.svg#ALSRubl') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/subset-GothamPro.eot');
    src: local('subset-GothamPro'), local('subset-GothamPro'), url('../fonts/subset-GothamPro.woff') format('woff'), url('../fonts/subset-GothamPro.ttf') format('truetype'), url('subset-GothamPro.svg#ALSRubl') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/subset-GothamPro-Medium.eot');
    src: local('subset-GothamPro-Medium'), local('subset-GothamPro-Medium'), url('../fonts/subset-GothamPro-Medium.woff') format('woff'), url('../fonts/subset-GothamPro-Medium.ttf') format('truetype'), url('subset-GothamPro-Medium.svg#ALSRubl') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/subset-GothamPro-Bold.eot');
    src: local('subset-GothamPro-Bold'), local('subset-GothamPro-Bold'), url('../fonts/subset-GothamPro-Bold.woff') format('woff'), url('../fonts/subset-GothamPro-Bold.ttf') format('truetype'), url('subset-GothamPro-Bold.svg#ALSRubl') format('svg');
    font-weight: 700;
    font-style: normal;
}

.overflowHidden {
  overflow: hidden;
} 

body {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1213px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.intro-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  position: relative;
  z-index: 2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 325px;
  width: 100%;
}

.header__logo {
  display: block;
  min-width: 90px;
  max-width: 90px;
  margin-right: 35px;
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 526px;
  width: 100%;
  margin-left: -20px;
}

.header__item {
  display: flex;
  align-items: center;
}

.header__big-item-title {
  font-family: 'Arkhip', sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: 400;
}

.header__content .header__item {
  position: relative;
  top: 15px;
  max-width: 200px;
  width: 100%;
}

.header__item:nth-child(1) {
  max-width: 246px;
  width: 100%;
}

.header__item:nth-child(2) {
  max-width: 248px;
  width: 100%;
}

.header__content .header__item p {
  font-size: 12px;
  line-height: 19px;
}

.header__item p {
  font-size: 13px;
  line-height: 19px;
  color: #000;
}

.header__item-title {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.header__item img {
  margin-right: 20px;
}

.header__tel-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__tel {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin-bottom: 8px;
}

.header__order-call {
  position: relative;
  font-size: 12px;
  color: #368de0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  transition: ease 0.3s;
  padding-bottom: 3px;

  &::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(90deg, #368de0, #368de0 20%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
    border: none;
    height: 1px;
    width: 100%;
    bottom: 0;
    transition: ease 0.3s;
  }

  &:hover::before {
    transition: ease 0.3s;
    background-image: linear-gradient(90deg, #55a3ee, #55a3ee 20%, transparent 75%, transparent 100%);
  }

  &:hover {
    transition: ease 0.3s;
    color: #55a3ee;
  }
}

.intro .container {
  position: relative;
  z-index: 2;
  padding-top: 259px;
  padding-bottom: 60px;
}

.intro-block {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/intro-sky.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1744px;
    height: 377px;
    top: -165px;
    left: 0;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/intro-sky-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 1919px;
    height: 361px;
  }
}

.intro__title-content h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Arkhip', sans-serif;
  font-size: 44px;
  line-height: 64px;
  font-weight: 400;
  color: #000;
  padding-bottom: 45px;
}

.intro__title-content h1 span {
  position: relative;
  padding: 3px 30px;
  z-index: 1;
}

.title-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewX(-20deg);
  background-color: #fff;
  z-index: -1;
  border-radius: 6px;

  
}

.title-down {
  margin-top: -3px;
}

.title-down::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 100%;
  height: 100%;
  transform: skewX(-20deg);
  background-color: #fff;
  z-index: -1;
  border-radius: 6px;
  box-shadow: inset 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
}

.intro .btn-main {
  margin-left: 45px;
}

.btn-main {
  position: relative;
  max-width: 340px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: 700;
  transition: ease 0.5s;
  border-radius: 16px;
  box-shadow: 0px 6px 24px 0px rgba(88, 189, 230, 0.75);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 79px;
    background-color: #2d5ca2;
    border-radius: 16px;
    z-index: 1;
    transition: ease 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 94%;
    height: 79px;
    z-index: -2;
    border-radius: 20px;
    // box-shadow: 10px 7px 30px 0px rgba(0,0,0,0.4);
  }

  &:hover {
    transform: translate(0px, -3px);
    transition: ease 0.3s;
  }

  &:active {
    transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
    transition: ease 0.2s;
    &::before {
      height: 75px;
      transition: ease 0.2s;
    }
  }
}

.btn-main:hover span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient( -90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
  opacity: 1;
  border-radius: 10px;
  z-index: -1;
  animation: gradient 1s linear infinite alternate;
  animation-delay: 0.5s;
}

.btn-main span {
  display: inline-block;
  position: relative;
  width: 100%;
  background-image: -moz-linear-gradient( 90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
  line-height: 70px;
  border-radius: 10px;
  padding-top: 5px;
  z-index: 2;
  will-change: transform;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient( -90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(40,103,193) 0%, rgb(72,204,254) 100%);
    transition: ease 0.3s;
    opacity: 0;
    border-radius: 10px;
    z-index: -1;
  }
}

.mark {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  justify-content: center;
  width: 151px;
  height: 157px;
  background-size: cover;
  background-image: url("../img/mark.png");
  background-repeat: no-repeat;
}

.mark span {
  font-size: 15px;
  color: #fff;
  text-shadow: 0px 2px 1px rgba(212, 121, 0, 1);
}

.mark p {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 2px 1px rgba(212, 121, 0, 1);
  padding-bottom: 2px;
  padding-top: 4px;
}

.intro__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.intro__mark {
  margin-right: 68px;
  margin-top: -70px;
}

.intro__description {
  margin-right: 70px;
  padding-top: 220px;
}

.intro__description p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
  max-width: 260px;
  margin-left: auto;
  color: #ffffff;
}

.intro__description p span {
  position: relative;
  z-index: 1;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.intro__description p span.mask-up {
  padding-bottom: 10px;
  padding-top: 7px;
}

.intro__description p span.mask-down {
  padding-bottom: 7px;
  padding-right: 30px;
  margin-top: -14px;
}

.mask-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: skewX(-20deg);
  z-index: -1;
  background-color: #9bb765;
  border-radius: 6px;
  border-bottom-left-radius: 0;
}

.mask-down::before {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 100%;
  height: 100%;
  transform: skewX(-20deg);
  z-index: -1;
  background-color: #9bb765;
  border-radius: 6px;
  border-top-left-radius: 0;
}

.opportunity {
  position: relative;
  overflow: hidden;
}

.opportunity .container {
  position: relative;
  padding-top: 70px;
}

.opportunity__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 65px;
}

.opportunity__item {
  text-align: center;
  max-width: 260px;
  width: 100%;
}

.opportunity__item strong {
  font-family: 'Arkhip', sans-serif;
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 19px;
  color: #000;
}

.opportunity__item p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.opportunity__image {
  min-height: 183px;
}

.presentation {
  position: relative;
  z-index: 2;
}

.presentation .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 155px;
  z-index: 1;
}

.main-title h2 {
  font-family: 'Arkhip', sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #000;
  font-weight: 400;
}

.presentation .main-title {
  max-width: 465px;
  width: 100%;
}

.presentation__content {
  max-width: 650px;
  width: 100%;
}

.presentation__mark .mark {
  margin-left: auto;
  width: 113px;
  height: 116px;
  background-size: contain;
  padding-left: 0;
  align-items: center;
}

.presentation__mark .mark p {
  font-family: 'Arkhip', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 0;
}

.presentation__mark .mark span {
  font-size: 14px;
}

.main-form {
  position: relative;
  max-width: 417px;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
  margin-right: 49px;
  margin-top: 30px;

  &::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 94.5%;
    background-color: #fff;
    left: 50%;
    bottom: -7px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translate(-50%, 0);
    box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
  }

  &::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 88.8%;
    background-color: #fff;
    left: 50%;
    bottom: -17px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translate(-50%, 0);
    box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
  }
}

.main-form__wrapper {
  border: 1px solid #f3f7fa;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 47px;
  padding-bottom: 35px;
  border-radius: 8px;
}

.main-form__title {
  display: block;
  font-family: 'Arkhip', sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  padding-bottom: 5px;
  color: #000;
}

.main-form__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding-bottom: 30px;
}

.main-form input {
  width: 100%;
  height: 72px;
  border-radius: 10px;
  background-color: #f6f7f8;
  margin-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid transparent;
  transition: ease 0.3s;

  &:focus {
    transition: ease 0.3s;
    border: 1px solid #feaea5;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &::placeholder {
    color: #8c94a2;
  }
}

.main-form .btn-main {
  margin-top: 20px;
}

.main-form__description {
  font-size: 12px;
  line-height: 20px;
  color: #000;
  text-align: center;
  padding-top: 24px;
}

.main-form__description a {
  display: inline-block;
  color: #3694dd;
  transition: ease 0.3s;

  &:hover {
    transition: ease 0.3s;
    color: #55a3ee;;
  }
}

.presentation__tree {
  position: absolute;
  left: 0;
  top: 60px;
}

.infrastructure {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/infr-skyes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1919px;
    height: 361px;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.infrastructure .container {
  padding-top: 270px;
  padding-bottom: 239px;
}

.infrastructure__content-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infrastructure__content {
  max-width: 706px;
  width: 100%;
  padding-left: 58px;
  padding-top: 105px;
}

.infrastructure .main-title {
  max-width: 447px;
  width: 100%;
}

.main-title__description {
  font-family: 'GothamPro', sans-serif;
  font-size: 16px;
  color: #8c94a2;
  font-weight: 400;
}

.infrastructure .main-title p {
  padding-top: 20px;
}

.main-title p {
  font-size: 20px;
  color: #8c94a2;
}

.infrastructure__list {
  display: flex;
  padding-left: 58px;
  padding-top: 82px;
}

.infrastructure__item {
  max-width: 309px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
  padding-top: 15px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.infrastructure__item strong {
  display: block;
  font-family: 'Arkhip', sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #000;
  max-width: 190px;
  width: 100%;
  font-weight: 400;
  padding-bottom: 8px;
}

.infrastructure__item span {
  font-size: 14px;
  color: #8c94a2;
}

.infrastructure__item ul {
  padding-top: 28px;
}

.infrastructure__item ul li {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  padding-left: 20px;
  color: #000000;
  padding-bottom: 9px;

  &:last-child {
    padding-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #fdbc52;
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }
}

.infrastructure__image {
  min-height: 149px;
  margin-left: -30px;
}

.infrastructure__item p {
  font-size: 14px;
  line-height: 22px;
  padding-top: 15px;
}

.parallax-content {
  overflow: hidden;
}

.infrastructure__info {
  max-width: 330px;
  width: 100%;
  margin-right: 80px;
}

.infrastructure__info p {
  font-size: 16px;
  line-height: 26px;
  color: #8c94a2;
}

.infrastructure__info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 33px;
}

.infrastructure__info-list {
  max-width: 151px;
  width: 100%;
}

.infrastructure__info-list strong {
  display: block;
  font-family: 'Arkhip', sans-serif;
  font-size: 22px;
  color: #000;
  font-weight: 400;
  padding-bottom: 21px;
}

.infrastructure__info-list ul li {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  padding-left: 32px;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0;
    top: -2px;
    background-color: #fff;
    border: 3px solid #ffa224;
    border-radius: 50%;
    z-index: 1
  }

  &::after {
    content: "";
    position: absolute;
    width: 3px;
    left: 8px;
    top: 10px;
    height: 100%;
    background-color: #ffa224;
    z-index: 0
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:last-child::after {
    display: none;
  }
}

.attraction {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/intro-sky-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 1919px;
    height: 361px;
  }
}

.attraction .container {
  position: relative;
  padding-top: 85px;
  padding-bottom: 275px;
}

.attraction .main-title {
  max-width: 640px;
  width: 100%;
  margin-left: 135px;
}

.attraction__transports {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 412px;
  width: 100%;
  margin-left: 135px;
  padding-top: 27px;
}

.attraction__tranport-item {
  display: flex;
  align-items: center;
}

.attraction__tranport-item img {
  margin-right: 10px;
}

.attraction__tranport-item p {
  font-size: 14px;
  color: #000;
}

.attraction__list {
  position: relative;
  display: flex;
  align-items: flex-start;
  text-align: center;
  padding-top: 120px;
  max-width: 1052px;
  width: 100%;
}

.attraction__item-title {
  font-family: 'Arkhip', sans-serif;
  font-size: 22px;
  color: #000000;
  padding-bottom: 10px;
  font-weight: 400;
}

.attraction__item {
  position: relative;
  z-index: 1;
  max-width: 192px;
  width: 100%;

  &:nth-child(1) {
    margin-right: 70px;
  }

  &:nth-child(2) {
    padding-top: 75px;
    margin-right: 90px;
  }

  &:nth-child(3) {
    margin-right: 143px;
  }

  &:nth-child(4) {
    padding-top: 48px;
  }

  &:nth-child(5) {
    max-width: 215px;
    position: absolute;
    right: -95px;
    top: -130px;
  }
}

.attraction__item img {
  border-radius: 50%;
  margin-bottom: 21px;
}

.attraction__item p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.attraction__road-line {
  position: absolute;
  z-index: 0;
  left: -30px;
  top: -30px;
}

// .attraction__list-icons {
//   position: absolute;
// }

// .attraction__item:nth-child(1) .attraction__list-icons {
//   top: 0;
//   left: 200px;
// }

// .attraction__item .attraction__list-icons img {
//   border-radius: 0;
// }

// .attraction__item:nth-child(1) .car {
//   position: absolute;
//   left: -10px;
//   top: -30px;
// }

// .attraction__item:nth-child(1) .train {
//   position: absolute;
//   left: 30px;
//   top: -25px;
// }

// .attraction__item:nth-child(1) .bus {
//   position: absolute;
//   left: 45px;
//   top: 5px;
// }

.attraction__item span {
  font-size: 14px;
  color: #8c94a2;
}

.attraction__item:nth-child(1) span {
  position: absolute;
  right: -93px;
  top: 56px;
}

.attraction__item:nth-child(2) span {
  position: absolute;
  right: -72px;
  top: 167px;
}

.attraction__item:nth-child(3) span {
  position: absolute;
  right: -93px;
  top: 179px;
}

.attraction__item:nth-child(4) span {
  position: absolute;
  left: -30px;
  top: -70px;
}

.standarts .container {
  position: relative;
  padding-bottom: 175px;
  margin-top: 87px;
}

.standarts .main-title {
  text-align: center;
  max-width: 675px;
  width: 100%;
  margin: 0 auto;
}

.standarts__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.standarts__item {
  width: 33%;
  text-align: center;
  padding-bottom: 40px;
}

.standarts__item strong {
  max-width: 245px;
  margin: 0 auto;
  display: block;
  font-family: 'Arkhip', sans-serif;
  font-size: 18px;
  color: #000;
  padding-bottom: 15px;
  font-weight: 400;
}

.standarts__item p {
  max-width: 245px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.standarts__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 203px;
}

.standarts__item:nth-child(2) strong {
  max-width: 258px;
}

.standarts__item:nth-child(1) .standarts__image {
  padding-bottom: 10px;
}

.standarts__item:nth-child(3) .standarts__image {
  padding-bottom: 10px;
}

.complex {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 985px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/complex-sky.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    left: 0;
    top: -20px;
    width: 1920px;
    height: 362px;
  }
}

.complex .container {
  position: relative;
  padding-bottom: 230px;
  z-index: 2;
}

.complex .main-title {
  position: relative;
  top: -80px;
  text-align: center;
  max-width: 615px;
  margin: 0 auto;
}

.complex__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 0px;
}

.complex__item {
  position: absolute;
}

.complex__item p {
  position: relative;
  font-weight: 400;
}

.complex__item:nth-child(1) {
  right: 150px;
  top: 120px;
}

.complex__item:nth-child(2) {
  top: 180px;
  left: 32%;
}

.complex__item:nth-child(3) {
  left: 70px;
  top: 300px;
}

.complex__item:nth-child(4) {
  right: 0px;
  top: 350px;
}

.complex__item:nth-child(5) {
  right: 120px;
  top: 500px;
}

.complex__item:nth-child(6) {
  top: 470px;
  left: 380px;
}

.complex__item-title {
  position: relative;
  font-family: 'Arkhip', sans-serif;
  text-shadow: 0px 2px 1px rgba(212, 121, 0, 1);
  font-size: 20px;
  color: #fff;
  z-index: 2;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 13px;
  padding-bottom: 13px;

  &::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient( 90deg, rgb(255,154,26) 0%, rgb(255,198,87) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,154,26) 0%, rgb(255,198,87) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,154,26) 0%, rgb(255,198,87) 100%);
    transform: skewX(-20deg);
    z-index: -1;
    left: 0;
    top: 0;
  }
}

.complex__item-text {
  font-size: 14px;
  color: #000;
  z-index: 1;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: -5px;

  &::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: skewX(-20deg);
    z-index: -1;
    left: 0;
    top: 0;
  }
}

.materials {
  position: relative;
}

.materials .container {
  padding-top: 120px;
  padding-bottom: 145px;
}

.materials .main-title {
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  padding-bottom: 75px;
}

.materials__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
}

.materials__item {
  position: relative;
  width: 23.05%;
  text-align: center;
}

.materials__item-container:hover ~ .materials__item-text {
  opacity: 1;
  transition: ease 0.3s;
}

// .materials__item-container:hover strong {
//   border-bottom: 1px dotted #368de0;
//   color: #368de0;
// }

.materials__img {
  padding-bottom: 20px;
}

.materials__img img {
  display: block;
  width: 100%;
}

.materials__item strong {
  position: relative;
  font-family: 'Arkhip', sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  // border-bottom: 1px dotted #000;
  transition: ease 0.3s;
}

.materials__item-text {
  position: absolute;
  left: 0;
  padding-left: 25px;
  opacity: 0;
  padding-right: 25px;
  transition: ease 0.3s;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
  padding-top: 15px;
  pointer-events: none;
  margin-top: 37px;
}

.materials__item-text p {
  font-size: 12px;
  line-height: 18px;
  color: #000;
  padding-bottom: 15px;

}

.btn-main--col span {
  display: inline-block;
  line-height: 22px;
  padding-top: 18px;
  padding-bottom: 12px;
}

.btn-main--col p {
  line-height: 56px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}

.btn-main--col:hover p span::before {
  height: 86px;
  top: -12px;
}

.btn-main--col p span::before {
  height: 86px;
  top: -12px;
}

.btn-main--col:active {
  transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
  transition: ease 0.2s;
  &::before {
    height: 73px;
    transition: ease 0.2s;
  }
}

.materials .btn-main {
  max-width: 298px;
}

.materials__panel {
  text-align: center;
  margin-top: 24px;
}

.review {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    background-image: url('../img/review-sky.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1920px;
    height: 362px;
    bottom: -2px;
    left: 0;
  }
}

.review .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-bottom: 335px;
}

.review .main-title {
  max-width: 555px;
  width: 100%;
}

.review .main-title p {
  padding-top: 20px;
}

.review__content {
  position: relative;
  z-index: 2;
  max-width: 650px;
  width: 100%;
  margin-left: 35px;
  padding-top: 40px;
}

.review__content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 36px;
  padding-top: 60px;
}

.review__content li {
  position: relative;
  max-width: 285px;
  width: 100%;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  padding-left: 35px;
  padding-bottom: 22px;

  &::before {
    content: '';
    position: absolute;
    background-image: url("../img/list-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
  }
}

.review .main-form {
  margin-right: 0;
}

.main-form__checkbox label {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  padding-left: 26px;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,154,26) 0%, rgb(255,198,87) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,154,26) 0%, rgb(255,198,87) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,154,26) 0%, rgb(255,198,87) 100%);
    left: 0;
    top: 0px;
  }
}

input[type=checkbox] {
  display: block;
  opacity: 0;
  pointer-events: none;
}

.main-form__checkbox input[type=checkbox]:checked ~ label::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 5px;
  top: 5px;
  border-radius: 1px;
  background-color: rgb(246, 247, 248);
}

.main-form__checkbox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 13px;
}

input[type=checkbox] {
  display: none;
}

.reputation .container {
  position: relative;
  padding-top: 25px;
  padding-bottom: 125px;
}

.reputation .main-title {
  text-align: center;
  max-width: 785px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 57px;
}

.reputation .main-title p {
  padding-top: 27px;
}

.reputation__title {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 500;
}

.reputation__list {
  display: flex;
  justify-content: space-between;
  max-width: 1138px;
  margin: 0 auto;
  padding-top: 52px;
}

.reputation__item {
  max-width: 350px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
}

.reputation__item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #f3f7fa;
  border-radius: 12px;
  text-align: center;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 45px;
}

.reputation__item strong {
  display: block;
  font-family: 'Arkhip', sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}

.reputation__name {
  display: block;
  font-size: 11px;
  color: #8c94a2;
  letter-spacing: 0.2em;
  font-weight: 500;
  padding-bottom: 22px;
  padding-top: 9px;
  text-transform: uppercase;
}

.reputation__item p {
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
}

.reputation__item a {
  font-size: 14px;
  color: #348cd8;
  transition: ease 0.3s;
  margin-top: 35px;

  &:hover {
    transition: ease 0.3s;
    color: #55a3ee;;
  }
}

.reputation__image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 223px;
  margin-bottom: 25px;
}

.deal {
  position: relative;
}

.deal .container {
  position: relative;
  padding-bottom: 50px;
}

.deal .main-title {
  text-align: center;
}

.deal__list {
  display: flex;
  align-items: flex-start;
  max-width: 1040px;
  width: 100%;
  margin-left: 35px;
  padding-top: 40px;
}

.deal__item {
  max-width: 260px;
  width: 100%;

  &:nth-child(1) {
    padding-top: 70px;
  }

  &:nth-child(3) {
    padding-top: 70px;
  }
}

.deal__item:nth-child(3) .deal__item-text {
  padding-left: 60px;
}

.deal__item strong {
  display: block;
  font-family: 'Arkhip', sans-serif;
  font-size: 18px;
  color: #000;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 20px;
}

.deal__image {
  margin-bottom: 17px;
}

.deal__item p {
  font-size: 14px;
  color: #000;
  line-height: 22px;
}

.deal__item-text {
  padding-left: 55px;
}

.deal .main-form {
  margin-right: 0;
  margin-top: 0;
  margin-left: 85px;
  margin-right: 25px;
}

.deal .main-form__title {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 13px;
}

.deal .main-form__subtitle {
  font-size: 15px;
  color: #8c94a2;
}

.deal .main-form__wrapper {
  padding-bottom: 50px;
}

.payment {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/paymant-sky.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1919px;
    height: 357px;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.payment .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-top: 140px;
  padding-bottom: 150px;
}

.payment .main-title p {
  padding-top: 23px;
  line-height: 30px;
}

.payment__content {
  position: relative;
  z-index: 2;
  max-width: 555px;
  width: 100%;
}

.payment__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 430px;
  width: 100%;
  margin-left: -30px;
  padding-top: 45px;
}

.payment__info p {
  max-width: 273px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  padding-top: 9px;
}

.payment .main-form {
  position: relative;
  z-index: 2;
  margin-right: -60px;
  margin-top: 60px;
}

.payment .main-form__title {
  padding-bottom: 7px;
}

.girl {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 55%;
  transform: translate(-50%, 0);
}

.map-block {
  position: relative;
}

.map-block .main-title {
  text-align: center;
  padding-bottom: 55px;
}

.map-block .main-title p {
  padding-top: 20px;
}

.map-block .container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1310px;
  padding-top: 110px;
  padding-bottom: 42px;
}

.map-block__wrap {
  position: relative;
  height: 660px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 2;
}

#map {
  width: 100%;
  height: 100%;
}

.map-block__content {
  position: absolute;
  max-width: 285px;
  width: 100%;
  box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
  border-radius: 8px;
  padding: 10px;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  left: 120px;
  background-color: #fff;
}

.map-block__content-wrap {
  border: 1px solid #f3f7fa;
  border-radius: 8px;
  padding-left: 42px;
  padding-top: 44px;
  padding-bottom: 47px;
  padding-right: 42px;
}

.map-block__item {
  padding-bottom: 29px;

  &:last-child {
    padding-bottom: 0;
  }
}

.map-block__item strong {
  display: block;
  font-size: 11px;
  font-weight: 500;
  color: #8c94a2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.map-block__item p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.map-block__item a {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.map-block__palm {
  position: absolute;
  top: 85px;
  right: 50px;
  z-index: 1;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 655px;
  width: 100%;
}

.footer__logo {
  display: block;
  width: 76px;
  margin-right: 26px;
}

.footer__logo img {
  display: block;
  width: 100%;
}

.footer__logo-content {
  display: flex;
  align-items: flex-start;
}

.footer__text {
  max-width: 196px;
  width: 100%;
  padding-top: 10px;
}

.footer__text strong {
  display: block;
  font-family: 'Arkhip', sans-serif;
  font-size: 15px;
  color: #000000;
  font-weight: 400;
}

.footer__text p {
  font-size: 12px;
  line-height: 19px;
  color: #000;
}

.footer__menu li {
  padding-bottom: 8px;

  &:last-child {
    padding-bottom: 0;
  }
}

.footer__menu li a {
  font-size: 13px;
  color: #8c94a2;
  transition: ease 0.3s;

  &:hover {
    transition: ease 0.3s;
    color: #000;
  }
}

.footer__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 370px;
  width: 100%;
  margin-left: 50px;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 37px;
  height: 37px;
  background-color: #2971b6;
  border-radius: 50%;
  margin-right: 10px;
  transition: ease 0.3s;

  &:hover {
    transition: ease 0.3s;
    background-color: #000;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__social img {
  display: block;
  width: 18px;
}

.footer__social.facebook img {
  width: 8px;
} 

.footer__social.instagram img {
  width: 16px;
}

.footer__contacts-content {
  text-align: right;
}

.footer__tel {
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin-bottom: 9px;
}

.footer__mail {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

.deal .main-title {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

.infrastructure__info--mobile {
  display: none;
}

.intro__title-description {
  display: none;
}

.popup {
  display: none;
}

.popup.main-form {
  margin-top: 0;
}

.fancybox-content {
  overflow: initial;
}

.popup .main-form__title {
  padding-bottom: 18px;
}

.fancybox-close-small svg {
  width: 36px;
  height: 36px;
}

.fancybox-slide--html .fancybox-close-small {
    color: #fff;
    right: -38px;
    width: 35px;
    height: 35px;
    padding: 0;
    top: -8px;
    transition: ease 0.3s;
    opacity: 1;
}

.fancybox-close-small:hover {
    opacity: 0.7;
    transition: ease 0.3s;
}    

.popup-big {
  max-width: 1007px;
  width: 100%;
}

.popup-big .main-form__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.popup__main {
  max-width: 460px;
  width: 100%;
  padding-left: 70px;
  padding-right: 10px;
  padding-top: 47px;
  padding-bottom: 35px;
}

.popup__image-wrap {
  max-width: 540px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.popup-big.main-form input {
  max-width: 300px;
  width: 100%;
}

.popup-big .btn-main {
  max-width: 300px;
  width: 100%;
}

.popup-big .main-form__description {
  max-width: 300px;
  width: 100%;
}

#popup-3 .popup__image-wrap {
  position: relative;
  margin-left: -9px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: -9px;
  margin-bottom: -9px;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   border: 1px solid #f3f7fa;
  //   width: 100%;
  //   height: 100%;
  //   border-right: none;
  //   left: 10px;   
  //   height: 640px;
  //   top: 10px;
  //   border-radius: 8px;
  // }
}

.thanks-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thanks-page .container {
  padding-top: 125px;
  padding-bottom: 430px;
}

.thanks-page__content {
  max-width: 530px;
  width: 100%;
  margin-left: 90px;
}

.thanks-page__subtitle {
  font-size: 18px;
  color: #000000;
  padding-top: 7px;
}

.thanks-page__info-content {
  padding-top: 40px;
}

.thanks-page__info-content p {
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

.thanks-page__address {
  padding-bottom: 29px;
}

.thanks-page a {
  display: inline-block;
  font-size: 26px;
  color: #000;
  font-weight: 700;
  margin-top: 8px;
}

.thanks-page .main-title__description {
  font-size: 18px;
  padding-left: 11px;
}

.main-form label.error {
  display: block;
  font-size: 14px;
  color: red;
  padding-left: 40px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.main-form label.error:last-of-type {
  margin-bottom: 0;
}

@import "media-desktop";
@import "media-mobile";